<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Albert Thomas</h1>
 <p>I am a passionate software developer from Jamaica. I am interested
    in programming, web design, game development and web development. For my 
    hobbies, I like creating stuff like music, graphics and videos, and I 
    also love outside activities like running and playing sports.
    Since I like creating stuff, web development peaked my interest. I am 
    eager to learn new skills and concepts to aid in my creative development
    and being a web developer will help me do just that.</p>
</body>
</html>
